target/
/target/
/.idea/
.settings/
/.settings/
/.factorypath
/.apt_generated/
*.iml
*.bat
*.db
*.log
.project
.classpath
/classes/
/docs/
logs/
*.factorypath
calculator-service/.springBeans
/effective-pom.xml
.springBeans
.DS_Store